:root {
  --size: 8px;
  --space-column: calc(var(--size) * 6);
  --text: hsla(240, 3%, 19%, 1);
  --white-00: #fff;
  --white-01: #f5f5f5;
  --black-00: #000;
  --black-01: #40434a;
  --grey-00: #b2b1b4;
  --blur: 8px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--text);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  -webkit-font-smoothing: subpixel-antialiased;
}

html {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  background-color: #f3f2f1;
}

body {
  position: relative;
  color: var(--text);
  font-size: 14px;
}

ul,
lo {
  list-style: none;
}

@media screen and (min-width: 320px) {
  :root {
    --space-column: calc(var(--size) * 3);
  }
}

@media screen and (min-width: 720px) {
  :root {
    --space-column: calc(var(--size) * 6);
  }
}

h1 {
  font-size: 3em;
  color: var(--black-00);
}
